@import 'normalize';

$gutter: 20px;
$black: #222;
$gray: lighten($black, 10);
$light-gray: #f6f6f6;
$white: #fff;
$blue: #1D89C0;
$green: #8EDF36;
$gradient: linear-gradient(45deg, rgba(43,95,216,1) 0%, rgba(8,201,156,1) 100%);

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    line-height: 1;
    margin: 0;
    padding: 0;
    letter-spacing: 0;
}

body {
    background: $white;
    color: $black;
    font-family: 'Roboto', sans-serif;
    // padding: 0 ($gutter * 2);
}
b {
    font-weight: 500;
}

// Sections

section {
    background: $white;
    border-bottom: 1px solid $light-gray;
    padding: ($gutter * 5) $gutter;
    text-align: center;
    h2 {
        // border-bottom: 10px solid $black;
        color: $black;
        display: inline-block;
        font-size: 2.5rem;
        letter-spacing: .025em;
        margin: 0 auto ($gutter * 3);
        padding: 0 ($gutter / 2);
        position: relative;
        text-align: center;
        text-transform: uppercase;
        span {
            position: relative;
            z-index: 1;
        }
        &:before {
            background: $green;
            content: "";
            height: 15px;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            opacity: .3;
            z-index: 0;
        }
    }
    h3,
    h4 {
        font-size: 1rem;
        margin: 0 auto .5em;
        max-width: 30em;
        text-align: left;
    }
    p + h3 {
        margin-top: $gutter * 2;
    }
    h4 {
        margin-top: $gutter * 2;
        text-transform: uppercase;
    }
    p {
        color: $gray;
        line-height: 1.5;
        margin: 0 auto 1em;
        max-width: 30em;
        text-align: left;
    }
    table {
        margin: 0 auto;
        td {
            border-bottom: 1px solid transparentize($black, .9);
            padding: $gutter ($gutter * 2) $gutter 0;
            text-align: left;
            display: block;
        }
        th {
            padding: $gutter $gutter $gutter 0;
            font-weight: bold;
            line-height: 1.4;
            text-align: right;
            vertical-align: top;
        }
        span {
            background: $black;
            color: $white;
            padding: ($gutter / 4) ($gutter / 2);
        }
    }
    a {
        color: $blue;
    }
}

.ndch__intro {
    background: $gradient;
    border: 0;
    color: $white;
    display: flex;
        flex-flow: column;
    padding: 0 $gutter $gutter;
    position: relative;
    text-align: center;
    text-shadow: 0 1px 1px transparentize($black,.9);
    h1 {
        margin-top: ($gutter * 3);
        span {
            border: 10px solid $white;
            display: inline-block;
            font-size: 1.75rem;
            font-weight: normal;
            letter-spacing: .025em;
            margin: 0;
            padding: $gutter ($gutter / 2);
            text-transform: uppercase;
            width: 11em;
        }
    }
    p {
        color: $white;
        font-size: 1.25rem;
        margin: 0 auto;
        max-width: 29em;
        padding: ($gutter * 2) 0;
        text-align: center;
    }
    ul {
        font-size: .9rem;
        line-height: 1.4;
        list-style: none;
        margin: 0 auto;
        padding: 0;
        span {
            display: block;
            font-size: .8rem;
            font-weight: bold;
            letter-spacing: .025em;
            margin-bottom: $gutter / 4;
            opacity: .75;
            text-transform: uppercase;
        }
        li {
            display: inline-block;
            padding: 0 $gutter;
            vertical-align: top;
        }
    }
    ul:nth-child(4) {
        display: flex;
        flex-flow: column;
        width: 100%;
        max-width: 700px;
        li {
            flex: 1 0 0;
        }
        li:nth-child(2) {
            padding: $gutter;
        }
        @media screen and (min-width: 400px) {
            flex-flow: row;
            li:nth-child(2) {
                border-left: 1px solid transparentize($white,.8);
                border-right: 1px solid transparentize($white,.8);
                padding: 0 $gutter;
            }
        }
    }
    nav {
        border-bottom: 1px solid transparentize($white,.8);
        padding: $gutter 0;
        order: -1;
        text-align: center;
        li {
            padding: 0 ($gutter / 6);
            vertical-align: middle;
            @media screen and (min-width: 620px) {
                &:last-of-type {
                    display: none;
                }
            }
        }
        a {
            color: $white;
            padding: ($gutter / 4) ($gutter / 4);
            text-decoration: none;
        }
        h3 {
            display: none;
        }
        @media screen and (max-width: 620px) {
            padding: 0;
            ul {
                display: none;
            }
            h3 {
                display: block;
                margin: 0 auto;
                padding: $gutter;
                text-align: center;
                // max-width: 100%;
                // width: 100%;
                &:before {
                    content: "Show ";
                }
            }
        }
    }
}

// .ndch__venue {
//     -webkit-clip-path: polygon(0 0, 100% 0%, 100% 90%, 0% 100%);
//     clip-path: polygon(0 0, 100% 0%, 100% 90%, 0% 100%);
// }

// .ndch__schedule,
// .ndch__sponsors,
// .ndch__faq,
// .ndch__submissions,
// .ndch__contact {
//     -webkit-clip-path: polygon(0 10%, 100% 0%, 100% 90%, 0% 100%);
//     clip-path: polygon(0 10%, 100% 0%, 100% 90%, 0% 100%);
// }

// .ndch__schedule,
// .ndch__faq,
// .ndch__contact {
//     background: $light-gray;
//     color: $black;
//     -webkit-clip-path: polygon(0 5%, 100% 0%, 100% 95%, 0% 100%);
//     clip-path: polygon(0 5%, 100% 0%, 100% 95%, 0% 100%);
//     h2,
//     p,
//     ul a,
//     a {
//         xcolor: $white;
//     }
// }

.active.active {
    a {
        background: $white;
        border-radius: 1px;
        box-shadow: 0 1px 1px transparentize($black,.9);
        color: $blue;
        text-shadow: 0 0 0;
    }
}
.register.register {
    background: $green;
    border-radius: 2px;
    color: $gray;
    font-size: .95rem;
    font-weight: 700;
    letter-spacing: .025em;
    padding: ($gutter / 1.5) $gutter;
    text-decoration: none;
    text-transform: uppercase;
    nav & {
        color: $gray;
        font-size: .75rem;
        padding: ($gutter / 2.5) ($gutter / 2);
        text-shadow: none;
    }
}
.ndch__contact {
    ul {
        list-style: none;
        margin: 0 0 ($gutter * 2);
        padding: 0;
        li {
            display: inline-block;
            padding: $gutter / 2;
        }
    }
}
.map {
    margin: 0 auto;
    padding: 0 $gutter;
    position: relative;
    iframe {
        height: 400px;
        width: 100%;
    }
    .mouse-cap-overlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
}
.ndch__sponsors {
    h3 {
        margin-top: $gutter * 4;
    }
}
.nss {
    margin: $gutter * 2 auto;
    max-width: 1000px;
    img {
        max-width: 554px;
        width: 100%;
    }
}
footer {
    color: lighten($black, 30);
    font-size: .85rem;
    // opacity: .5;
    padding: $gutter;
    text-align: center;
}
.cfn {
    margin-bottom: $gutter;
    text-align: center;
    img {
        width: 100px;
    }
}

nav {
    transition: all 300ms ease-in-out;    
}

.sticky.sticky {
    nav {
        background: $gradient;
        border: 0;
        // box-shadow: 0 1px 5px rgba(0,0,0,.2);
        left: 0;
        // padding: $gutter 0;
        position: fixed;
        top: 0;
        width: 100%;
        will-change: transform;
        z-index: 10;
        li:last-of-type {
            display: inline-block;
        }
    }
    .ndch__intro {
        padding-top: 60px;
    }
}
.show.show {
    h3 {
        border-bottom: 1px solid transparentize($white,.8);
        &:before {
            content: "Hide ";
        }
    }
    ul {
        display: block;
    }
    li {
        display: inline-block;
        padding: $gutter 0;
        width: 48%;
    }
}

/* For Old IEs */
.no-transitions nav {
    top: -60px;
}

.no-transitions .sticky {
    top: 0;
}

section table th {
    white-space: nowrap;
}
.ndch__intro h1 span {
    max-width: 100%;
}

.ndch__sponsors .sponsor-logos .card {
    border: 1px solid #e1e1e1;
    min-height: 220px;
    margin-bottom: 2rem;
    position: relative;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.ndch__sponsors .sponsor-logos .card .card-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 100%;
}
.ndch__sponsors .sponsor-logos .card .card-content p {
    text-align: center;
    margin-top: 1rem;
}
.u-hide-550 {
    display: block;
}
.u-display-550 {
    display: none;
}
section h2 {
    font-size: 2rem;
}

@media (min-width: 550px) {
    .u-hide-550 {
        display: none;
    }
    .u-display-550 {
        display: block;
    }
    section h2 {
        font-size: 2.5rem;
    }
}
