$min400 = "(min-width: 400px)"
$min420 = "(min-width: 420px)"
$min560 = "(min-width: 560px)"
$min600 = "(min-width: 600px)"
$min700 = "(min-width: 700px)"
$min1700 = "(min-width: 1700px)"

@import "colors"

*
    box-sizing border-box !important

body
    background-color $white
    font-size 16px
    color $chocolate

/* Typo */
h1,h2,h3,h4,h5,h6
    line-height 1.2em
    margin 0
    margin-top 1.5em

h1
    font-size 3.3rem

h2
    font-size 2.7rem

h3
    font-size 2.3rem

h4
    font-size 2.1rem

h5
    font-size 1.8rem

h6
    font-size 1.4rem

th, td
    font-size 1.4rem

a, p
    font-size 1.4rem
    line-height 1.4em
    margin 0
    margin-top 1.5em
    letter-spacing 1px

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a
    font-size inherit
    line-height inherit

ul
    list-style none

/* Sections */

header
    background-image url("/img/skinny_nash_skyline.jpg")
    background-repeat no-repeat
    background-position center 0
    background-color $greyBlue
    color $alt-fg
    border-bottom 16px solid $red

    @media $min420
        background-position -210px 0
        background-image url("/img/nash_skyline.jpg")

    @media $min1700
        background-size 100%
        background-position center 0

header .text-wrap
    background-color $alt-bg;
    padding 2rem
    border-radius 4px

header, section, footer
    padding-top 2rem
    padding-bottom 2rem

header .the
    margin-top 0
    padding 0
    margin 0
    margin-top 2rem

header .title
    margin-top 0

header .hours,
header .location
    margin-top 0.4rem

section.maps
    padding 0

    .venue-byline
        padding 2rem 0

    .mapa-wrappa
        position relative

    .mouse-cap-overlay
        margin 0
        display block
        position absolute
        top 0
        left 0
        width 100%
        height 400px

    .map
        position relative

    .map iframe
        position absolute
        top 0
        left 0
        width 100% !important
        height 100% !important

    .md-map, .sm-map
        display none

    .lg-map
        height 400px
        display block

.past-projects
    a
        color $foam
        border-bottom 1px solid transparent
        &:hover, &:active
            color $red
            border-bottom 1px solid $red

.for-attendees
    border-bottom 16px solid $powderBlue

.for-sponsors
    background-color $foam

.register-cta
    background-color $red
    background-color $powderBlue
    color $white

    @media $min560
        h3
            font-size 3.2em

section h3:first-child,
section h4:first-child,
footer h3:first-child,
footer h4:first-child
    margin-top 0

@media $min400
    header, section, footer
        padding-top 5rem
        padding-bottom 5rem

/* Objects */

.display-560
    display none
    @media $min560
        display inherit

.hide-560
    @media $min560
        display none


.hide-700
    @media $min700
        display none

.display-700
    display none
    @media $min700
        display inherit

a.alt, .anchor.alt
    color $foam
    border-bottom 1px solid transparent
    &:hover, &:active
        color $red
        border-bottom 1px solid $red

a, .anchor
    color $white
    border-bottom 1px solid transparent
    text-decoration none
    &:hover, $:active
        border-bottom 1px solid $white
        color $foam


.emma-form
    max-width 30rem
    margin 2rem auto

    input[type="text"]
        width 100%

    .e2ma_signup_form_required_footnote
        display none

    .e2ma_signup_form_label
        display inline

    .e2ma_signup_form_element
        display inline

    .e2ma_signup_form_button_row
        display inline

.b-happy-wrappy
    background-color $greyBlue

.browsehappy
    text-align center
    color $white
    border-radius 4px
    display inline-block
    padding 1rem 2rem
    margin 1rem auto 1rem

footer
    background-color $chocolate
    color $white
    padding-bottom 2rem
    padding-top 2rem

footer .logo
    margin-top 2rem

footer .logo-group
    text-align center

footer .the
    margin-top 2rem

footer .logo-standin
    font-size 2rem
    margin 0

    @media $min700
        font-size 2.8rem

footer .thanks
    margin-top 2rem

footer .cfn-meetup-logo
    margin 2rem auto 0

table.event-schedule
    margin 2rem auto 0
    width 100%
    max-width 28rem

    td, th
        font-size 1.2em

        @media $min400
            font-size 1.4em

.button
    height 2.5em
    padding 0 1.9em
    line-height 2.5em
    letter-spacing 0.1em

a.register-btn
    margin-top 3rem
    font-size 1.2em
    background-color $btn-bg
    border 1px solid darken($btn-bg, 25%)
    color $btn-color

    &:hover, &:active
        border-bottom 1px solid $white
        background-color darken($btn-bg, 10%)
        border 1px solid darken($btn-bg, 25%)
        color $white


.social-media-links
    margin 0 auto
    max-width 28rem

.social-media-links a
    height auto
    display block
    padding 0.3rem 0
    span
        margin-left 0.5rem

a.link-button.large
    font-size 1em

a.link-button,
ul.social-media-links li a.link-button
    color $white
    background-color $chocolate
    border-color transparent
    border-bottom-color $foam
    text-decoration none

    &:hover, &:active
        border-bottom 1px solid $white
        border-color darken($chocolate, 25%)
        color $foam

ul.sponsor-logo-links
    margin 2rem auto 0

ul.sponsor-logo-links img
    margin 0 auto

ul.contact-links
    margin-top 2rem
    overflow hidden

    li
        margin-top 0
        margin-bottom 0
        padding 0.5rem 0

        @media $min400
            float left
            width 50%

/* Utility */

.bold
    font-weight bold

.italic
    text-decoration italic

.large
    font-size 1.3em

.small
    font-size 0.9em

.block
    display block
