$min400 = "(min-width: 400px)"

body
    background-color lightgrey
    font-size 16px

/* Typo */
h1,h2,h3,h4,h5,h6
    line-height 1.2em
    margin 0
    margin-top 1.5em

h1
    font-size 3.3rem

h2
    font-size 2.7rem

h3
    font-size 2.3rem

h4
    font-size 2.1rem

a, p
    font-size 1.4rem
    line-height 1.4em
    margin 0
    margin-top 1.5em

ul
    list-style none

/* Sections */

header, section, footer
    padding-top 2rem
    padding-bottom 2rem

section h3:first-child,
section h4:first-child,
footer h3:first-child,
footer h4:first-child
    margin-top 0

@media $min400
    header, section, footer
        padding-top 5rem
        padding-bottom 5rem

/* Objects */

table.event-schedule
    margin-top 2rem
    width 100%
    max-width 20rem

.button
    height 2.5em
    padding 0 1.9em
    line-height 2.5em
    letter-spacing 0.1em

a.register-btn
    margin-top 2rem
    font-size 1.2em

ul.social-media-links li a
    text-align center
    float left
    width 50%
    padding 1rem 0

ul.sponsor-logo-links
    margin 2rem auto 0

ul.sponsor-logo-links img
    margin 0 auto

ul.contact-links
    margin-top 2rem
    a
        display block
        padding 0.5rem 0
        margin-top 0

/* Utility */

.bold
    font-weight bold

.italic
    text-decoration italic

.large
    font-size 1.3em

.block
    display block
