doctype html
html.no-js
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Nashville Day of Civic Hacking 2016
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/vendor/normalize.css')
    link(rel='stylesheet', href='/vendor/skeleton.css')
    link(rel='stylesheet', href='/css/index.css')
    include ga.html
    //-script(src='javascripts/vendor/modernizr-2.7.1.min.js')

  body
    <!--[if lt IE 8]>
    p.browsehappy
      | You are using an <strong>outdated</strong> browser.
      | Please <a href="http://browsehappy.com/">upgrade your browser</a>
      | to improve your experience.
    <![endif]-->

    header
      .container
        .u-text-center
          p.the THE
          h1.title Nashville Day of Civic Hacking
          h2.date June 4th, 2016
          h2.hours 8AM to 8PM
          h2.location Location TBA

          a.button.register-btn(href="http://nashvillecivichackday.eventbrite.com", target="_blank") Register Now

        p.intro.
          Join us in June for the 4th annual National Day of Civic Hacking in
          Nashville. Come together with other coders, designers, officials, and
          sponsors for a day long (possibly two) hackathon focusing on using
          Nashville’s #[a(style="padding: 0;", href="https://data.nashville.gov/browse") open data portal] to
          to improve the Nashville city government's ability to serve its citizens.

        ul.social-media-links
          li
            a(href="twitter.com") Twitter

          li
            a(href="instagram.com") Instagram

    section.for-attendees
      .container
        h3 For Attendees

        h5 Already know you're coming? #[a(style="padding: 0; font-size: inherit;", href="http://nashvillecivichackday.eventbrite.com", target="_blank") Register on our EventBrite page.]

        h5 Never been to a hackathon?

        p.
          Helpful info and links here We will not speak of all Queequeg's
          peculiarities here; how he eschewed coffee and hot rolls, and applied
          his undivided attention to beefsteaks, done rare.
        p.
          Enough, that when breakfast was over he withdrew like the rest into
          the public room, lighted his tomahawk-pipe, and was sitting there
          quietly digesting and smoking with his

        h5 Code of Conduct

        p.
          We take making the Nashville Civic Hack Day a safe place for people to
          get together very seriously. Please read our code of conduct, and don't
          hesitate to contact us if you have questions, concerns, or experience
          any uncivilized behavior during the event.

        a.large.block.u-text-center(href="//hackcodeofconduct.org/nashvillecivichackday", target="_blank") Read the Code of Conduct here.

        h5 Accessibility

        p.
          We're ironing out the details of the venue, and as soon as we know what's up,
          we'll post details here.

        h5 Schedule

        table.table.event-schedule
          tbody
            tr
              td 8:00 AM
              td Doors open

            tr
              td 8:30 AM
              td Introductions, kickoff

            tr
              td(colspan=2).u-text-center Coooooooode

            tr
              td 12:30 PM
              td Lunch

            tr
              td(colspan=2).u-text-center More Code

            tr
              td 5:00 PM
              td Dinner

            tr
              td 7:30 PM
              td Wrap up, presentations

            tr
              td 8:00 PM
              td Fond farewell

    section.for-sponsors
      .container
        h3 For Sponsors

        h5 Our Sponsors
          ul.sponsor-logo-links
            .row
              .three.columns
                li
                  a(href="")
                    img.u-img-responsive(src="//placehold.it/250x150&text=Logo")

              .three.columns
                li
                  a(href="")
                    img.u-img-responsive(src="//placehold.it/250x150&text=Logo")

              .three.columns
                li
                  a(href="")
                    img.u-img-responsive(src="//placehold.it/250x150&text=Logo")

              .three.columns
                li
                  a(href="")
                    img.u-img-responsive(src="//placehold.it/250x150&text=Logo")

        h5 Interested in sponsoring us?

        p.
          Sponsoring a civic hackathon is a great way to connect with grassroots
          communities of talented people, and to take part in making our city a
          better place to live.

        p.
          While the hackathon is an all volunteer effort, we recognize and appreciate
          that sponsorship makes that effort smoother and easier. If you or your
          company would like to chip in, send us an email. We'd love to talk about it.

        a.large.block.u-text-center(href="mailto:sponsors@nashvillecivichackday.tech") Email us about sponsorship opportunities.


    section.past-projects
      .container
        h3 Past Projects
        .row
          .six.columns
            a(href="http://inclucivics.com/", target="_blank")
              h5 Inclucivics

            p.
              A quick blurb about inclucivics we will not speak of all Queequeg's
              peculiarities here; how he eschewed coffee and hot rolls, and

          .six.columns
            a(href="http://www.brigadepulse.us/", target="_blank")
              h5 Brigade Pulse

            p.
              A quick blurb about bp we will not speak of all Queequeg's
              peculiarities here; how he eschewed coffee and hot rolls, and


    section.register-cta
      .container.u-text-center
        h3 Registered Yet?
        a.button.register-btn(href="http://nashvillecivichackday.eventbrite.com", target="_blank") Register Now

    footer
      .container
        .row
          .six.columns
            h4 Contact Us
            ul.contact-links
              li
                a(href="mailto:info@nashvillecivichackday.tech/") Attendees Email

              li
                a(href="mailto:sponsors@nashvillecivichackday.tech/") Sponsors Email

              li
                a(href="//twitter.com") Twitter

              li
                a(href="//instagram.com") Instagram

          .six.columns
            h5 Hey, check out our Meetup group, too!
            a(href="http://www.meetup.com/code-for-nashville/", target="_blank")
              img.u-img-responsive(src="/img/cfn-logo.png", alt="Code for Nashville Logo")

        //-img.logo.u-img-responsive(src="/img/logo.svg")
        h1(style="margin: 0;") #[span(style="font-size: 1rem; letter-spacing: 1px;") THE] Nashville Day of Civic Hacking

        h6.thanks Thank you! Let's make this awesome!

        p.copyright.small(style="padding: 0;") &copy; 2016 Code for Nashville, Nashville Civic Hack Day

    script(src='//code.jquery.com/jquery-2.2.1.min.js')
    script window.jQuery || document.write('<script src="/vendor/jquery.min.js"><\/script>')
