$min400 = "(min-width: 400px)"
$min560 = "(min-width: 560px)"
$min700 = "(min-width: 700px)"

body
    background-color lightgrey
    font-size 16px

/* Typo */
h1,h2,h3,h4,h5,h6
    line-height 1.2em
    margin 0
    margin-top 1.5em

h1
    font-size 3.3rem

h2
    font-size 2.7rem

h3
    font-size 2.3rem

h4
    font-size 2.1rem

h5
    font-size 1.8rem

h6
    font-size 1.4rem

th, td
    font-size 1.4rem

a, p
    font-size 1.4rem
    line-height 1.4em
    margin 0
    margin-top 1.5em

ul
    list-style none

/* Sections */

header, section, footer
    padding-top 2rem
    padding-bottom 2rem

header .the
    margin-top 0
    padding 0
    margin 0
    margin-top 2rem

header .title
    margin-top 0

header .hours,
header .location
    margin-top 0.4rem




section h3:first-child,
section h4:first-child,
footer h3:first-child,
footer h4:first-child
    margin-top 0

@media $min400
    header, section, footer
        padding-top 5rem
        padding-bottom 5rem

/* Objects */

.emma-form
    max-width 30rem
    margin 2rem auto

    input[type="text"]
        width 100%

    .e2ma_signup_form_required_footnote
        display none

    .e2ma_signup_form_label
        display inline

    .e2ma_signup_form_element
        display inline

    .e2ma_signup_form_button_row
        display inline

.browsehappy
    text-align center
    border 1px solid grey
    border-radius 4px
    display inline-block
    padding 1rem 2rem
    margin 1rem auto 0

footer
    padding-bottom 1rem

footer .logo
    margin-top 2rem

footer .logo-group
    text-align center

footer .the
    margin-top 2rem

footer .logo-standin
    font-size 2rem
    margin 0

    @media $min700
        font-size 2.8rem

footer .thanks
    margin-top 2rem

footer .cfn-meetup-logo
    margin 2rem auto 0

table.event-schedule
    margin 2rem auto 0
    width 100%
    max-width 28rem

    td, th
        font-size 1.2em

        @media $min400
            font-size 1.4em

.button
    height 2.5em
    padding 0 1.9em !important
    line-height 2.5em
    letter-spacing 0.1em

a.register-btn
    margin-top 3rem
    font-size 1.2em

ul.social-media-links
    margin 0 auto
    max-width 26rem

ul.social-media-links li a
    text-align center
    float left
    width 50%
    padding 1rem 0

ul.sponsor-logo-links
    margin 2rem auto 0

ul.sponsor-logo-links img
    margin 0 auto

ul.contact-links
    margin-top 2rem
    overflow hidden

    li
        margin-top 0
        margin-bottom 0

        @media $min400
            float left
            width 50%

    li a
        display block
        padding 0.5rem 0
        margin-top 0

/* Utility */

.bold
    font-weight bold

.italic
    text-decoration italic

.large
    font-size 1.3em

.small
    font-size 0.9em

.block
    display block
