doctype
html.no-js
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Nashville Day of Civic Hacking 2016
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='stylesheets/normalize.css')
    link(rel='stylesheet', href='stylesheets/main.css')
    //-script(src='javascripts/vendor/modernizr-2.7.1.min.js')
  body
    <!--[if lt IE 8]>
    p.browsehappy
      | You are using an <strong>outdated</strong> browser.
      | Please <a href="http://browsehappy.com/">upgrade your browser</a>
      | to improve your experience.
    <![endif]-->

    header
      h1 Nashville Day of Civic Hacking
      h2 June 4th, 2016
      h2 Location TBA

      p.
        Join us in June for the 4th annual National Day of Civic Hacking. Come
        together with other coders, designers, officials, and sponsors for
        a day long (possibly two) hackathon focusing on using Nashville’s open
        data portal(href=https://data.nashville.gov/browse) to increase Metro’s
        efficiency and transparency.

      ul.social-media-links
        li
          a(href="twitter.com") Twitter

        li
          a(href="instagram.com") Instagram

    section.register-cta
      h3 Register Here
      a(href="http://nashvillecivichackday.eventbrite.com")
        button.register-btn Register

    section.for-attendees
      h3 Attendees

    section.for-sponsors
      h3 Sponsors

    section.register-cta
      h3 Registered Yet?
      a(href="http://nashvillecivichackday.eventbrite.com")
        button.register-btn Register

    footer
      h4 Contact Us
      ul.contact-links
        li
          a(href="mailto:info@nashvillecivichackday.tech/") Attendees

        li
          a(href="mailto:sponsors@nashvillecivichackday.tech/") Sponsors

        li
          a(href="//twitter.com") Twitter

        li
          a(href="//instagram.com") Instagram

      p.copyright &copy;

      h4 Thank you! Let's make this awesome!

      img(src="/img/logo.jpg")

    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
    script window.jQuery || document.write('<script src="javascripts/vendor/jquery-1.11.0.min.js"><\/script>')

    include ga.html
