$white = #fff
$chocolate = #371525
$foam =  #3AA2AD
$custard = #F0EACB
$red = #F95158
$powderBlue = #4a81d3

$greyBlue =  #3A4D5A;
$greyBlueA = rgba(55, 77, 90, 0.8)

$body-text = $chocolate
$alt-fg    = $white
$alt-bg    = $greyBlueA
$btn-bg    = $red
$btn-color = $white

